@model MaintenanceViewModel
@{
    ViewData["Title"] = "Article";
}

<body class="color-article">
    <h1>Article</h1>

    @foreach (var product in Model.Products)
    {
        <partial name="ProductPartial" model="product" />
    }
</body>
