@model VivesRental.Model.Customer
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="FirstName" />
        <input type="hidden" asp-for="LastName" />
        <input type="hidden" asp-for="Email" />
        <input type="hidden" asp-for="PhoneNumber" />
        <input type="submit" asp-for="FirstName" class="col-2 my-table-button table-row color-col-1" />
        <input type="submit" asp-for="LastName" class="col-3 my-table-button table-row color-col-2" />
        <input type="submit" asp-for="Email" class="col-4 my-table-button table-row color-col-3" />
        <input type="submit" asp-for="PhoneNumber" class="col-3 my-table-button table-row color-col-4" />
    </div>