@model VivesRental.Model.Customer
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="FirstName" />
        <input type="hidden" asp-for="LastName" />
        <input type="hidden" asp-for="Email" />
        <input type="hidden" asp-for="PhoneNumber" />
        <input type="submit" asp-for="FirstName" class="col-2 my-btn my-table-row my-customer-first-name" />
        <input type="submit" asp-for="LastName" class="col-3 my-btn my-table-row my-customer-last-name" />
        <input type="submit" asp-for="Email" class="col-4 my-btn my-table-row my-customer-email" />
        <input type="submit" asp-for="PhoneNumber" class="col-3 my-btn my-table-row my-customer-phone-number" />
    </div>