@model OrderPartialViewModel

    <tr>
        <td>@Model.Counter</td>
        <td>@Model.Order.Id</td>
        <td>@Model.Order.CreatedAt</td>
        <td>@Model.Order.OrderLines.Count</td>
    </tr>
