@model VivesRental.Model.Product
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Name" />
        <input type="hidden" asp-for="Description" />
        <input type="hidden" asp-for="Manufacturer" />
        <input type="hidden" asp-for="Publisher" />
        <input type="hidden" asp-for="RentalExpiresAfterDays" />
        <input type="submit" asp-for="Name" class="col-2 my-table-button table-row color-col-1" />
        <input type="submit" asp-for="Description" class="col-4 my-table-button table-row color-col-2" />
        <input type="submit" asp-for="Manufacturer" class="col-2 my-table-button table-row color-col-3" />
        <input type="submit" asp-for="Publisher" class="col-2 my-table-button table-row color-col-4" />
        <input type="submit" asp-for="RentalExpiresAfterDays" class="col-1 my-table-button table-row color-col-5" />
        <input type="submit" asp-for="Articles.Count" class="col-1 my-table-button table-row color-col-6" />
    </div>