@model VivesRental.Model.Product
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Name" />
        <input type="hidden" asp-for="Description" />
        <input type="hidden" asp-for="Manufacturer" />
        <input type="hidden" asp-for="Publisher" />
        <input type="hidden" asp-for="RentalExpiresAfterDays" />
        <input type="submit" asp-for="Name" class="col-2 my-button table-row product-name" />
        <input type="submit" asp-for="Description" class="col-4 my-button table-row product-description" />
        <input type="submit" asp-for="Manufacturer" class="col-2 my-button table-row product-manufacturer" />
        <input type="submit" asp-for="Publisher" class="col-2 my-button table-row product-publisher" />
        <input type="submit" asp-for="RentalExpiresAfterDays" class="col-1 my-button table-row product-expires" />
        <input type="submit" asp-for="Articles.Count" class="col-1 my-button table-row product-articles" />
    </div>