@using VivesRental.Model
@model ArticlePartialViewModel

@{ var statusColor = Model.Article.Status switch
   {
       ArticleStatus.Normal => StatusColor.Normal,
       ArticleStatus.Broken => StatusColor.Broken,
       ArticleStatus.Destroyed => StatusColor.Destroyed,
       ArticleStatus.InRepair => StatusColor.InRepair,
       ArticleStatus.Lost => StatusColor.Lost,
       ArticleStatus.Pending => StatusColor.Pending,
       _ => StatusColor.Pending
       };
    var stringColor = "#" + statusColor.ToString("X").Substring(2, 6);
}

<tr>
    <td>@Model.Counter</td>
    <td>@Model.Article.Id</td>
    <td style="background-color: @stringColor;">@Model.Article.Status</td>
</tr>
