<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VivesRental</title>
    <script src="https://kit.fontawesome.com/98ccb72d34.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/maintenance.css" />
</head>
<body>
    <div class="wrapper">
        <top-menu>
            <ul>
                <li>
                    <a class="btn" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home fa-5x"></i>
                        <text class="h4">VivesRental</text>
                    </a>
                </li>
                <li>
                    <a class="btn btn-check-in" asp-controller="Home" asp-action="Privacy">
                        <i class="fas fa-download fa-2x"></i>
                        <p>Inchecken</p>
                    </a>
                </li>
                <li>
                    <a class="btn btn-check-out" asp-controller="Home" asp-action="error">
                        <i class="fas fa-upload fa-2x"></i>
                        <p>Uitchecken</p>
                    </a>
                </li>
                <li>
                    <a class="btn btn-maintenance" asp-controller="Maintenance" asp-action="Index">
                        <i class="fas fa-cogs fa-2x"></i>
                        <p>Beheer</p>
                    </a>
                </li>
            </ul>
        </top-menu>
        <side-menu>
            <p class="title-side"> Springplank</p>
            <ul>
                <li>
                    <a class="btn btn-check-in" asp-controller="Home" asp-action="Privacy">
                        <i class="fas fa-download"></i>
                        <text>Inchecken</text>
                    </a>
                </li>
                <li>
                    <a class="btn btn-check-out" asp-controller="Home" asp-action="error">
                        <i class="fas fa-upload"></i>
                        <text>Uitchecken</text>
                    </a>
                </li>
                <li>
                    <a class="btn btn-maintenance" asp-controller="Maintenance" asp-action="Index">
                        <i class="fas fa-cogs"></i>
                        <text>Beheer</text>
                    </a>
                    <ul>
                        <li style="margin-top: 1rem;">
                            <a class="btn btn-customer" asp-controller="Maintenance" asp-action="Customers">
                                <i class="fas fa-user"></i>
                                <text>Klantenbeheer</text>
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-product" asp-controller="Maintenance" asp-action="Products">
                                <i class="fas fa-box-open"></i>
                                <text>Productbeheer</text>
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-article" asp-controller="Maintenance" asp-action="Articles">
                                <i class="fas fa-gift"></i>
                                <text>Artikelbeheer</text>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </side-menu>
        <content>
            @RenderBody()
        </content>
        <footer>
            <div>
                <a asp-controller="Home" asp-action="Privacy">&copy;</a> 2019 - VivesRental Catcher - Made by <b>Peter Anckaert</b>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
