@model TestViewModel
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1>Hier komt de website van VivesRental</h1>

        <H2 style="margin: 120px">WATCH THIS SPACE ...</H2>

        <h4>Aantal items in article: @Model.nbrArticles</h4>
        <h4>Aantal items in customer: @Model.nbrCustomers</h4>
//        <h4>Aantal items in order: @Model.nbrOrders</h4>
        <h4>Aantal items in product: @Model.nbrProducts</h4>
</div>
