@model VivesRental.Model.Article

<tr>
    <td class="color-col-4 checkered">@Model.Id</td>
    <td class="color-col-3 checkered">@Model.Product.Name</td>
    <td class="color-col-2 checkered">@Model.Product.Description</td>
    <td class="color-col-1 checkered">@Model.Product.RentalExpiresAfterDays</td>
</tr>