.customer-first-name {
    background-color: aqua;
}

.customer-last-name {
    background-color:darkorange;
}

.customer-last-email {
    background-color:bisque;
}

.customer-last-phone-number {
    background-color:chartreuse;
}