.product-name {
    background-color: aqua;
}

.product-description {
    background-color: chocolate;
}

.product-manufacturer {
    background-color: bisque;
}

.product-publisher {
    background-color: chartreuse;
}

.product-expires {
    background-color:coral;
}

.product-articles {
    background-color:greenyellow;
}