.dropdown-item {
    color: inherit;
    background-color: inherit;
    border-radius: 0;
    padding: 0.6rem;
    margin: 0;
    box-shadow: none;
}
/*
    .dropdown-item:nth-child(odd) {
        color: lightskyblue;
        background-color: darkslategray;
    }

.dropdown-item:nth-child(odd):hover {
    color: var(--dark);
    background-color: var(--light);
}

    */

.checkered {
    color: darkslategray;
    background-color: lightskyblue;
}

.checkered:nth-child(odd) {
    color: lightskyblue;
    background-color: darkslategray;
}

.checkered-rev {
    color: lightskyblue;
    background-color: darkslategray;
}

    .checkered-rev:nth-child(odd) {
        color: darkslategray;
        background-color: lightskyblue;
}



