.dropdown-item {
    color: inherit;
    background-color: inherit;
    border-radius: 0;
    padding: 0.6rem;
}

.btn-rent {
    background-color: cyan;
    padding: 1rem;
    margin: 2rem;
    border-radius: 10rem;
}

.no-border {
    border: 0px;
}

.checkered {
    color: darkslategray;
    background-color: lightskyblue;
}

.checkered:nth-child(odd) {
    color: lightskyblue;
    background-color: darkslategray;
}

.checkered-rev {
    color: lightskyblue;
    background-color: darkslategray;
}

    .checkered-rev:nth-child(odd) {
        color: darkslategray;
        background-color: lightskyblue;
}

td a {
    box-shadow: none;
    color: var(--dark);
}



