.dropdown-item {
    color: inherit;
    background-color: inherit;
    border-radius: 0;
    padding: 0.6rem;
}

.btn-rent {
    background-color:forestgreen;
    padding: 5rem 1rem;
    margin: 2rem;
    border-radius: 3rem;
}

.title {
    color: green;
    font-size: 3rem;
}
.checkered {
    color: darkslategray;
    background-color: lightskyblue;
}

.checkered:nth-child(odd) {
    color: lightskyblue;
    background-color: darkslategray;
}

.checkered-rev {
    color: lightskyblue;
    background-color: darkslategray;
}

    .checkered-rev:nth-child(odd) {
        color: darkslategray;
        background-color: lightskyblue;
}


