:root {
    --dark: #000;
    --light: #fff;
    --check-in: #0d8;
    --check-out: dodgerblue;
    --home: cornflowerblue;
    --maintenance: tomato;
    --article: goldenrod;
    --product: darkorange;
    --customer: chocolate;
    --title-side: teal;
    --shadow: 3px 5px rgba(104, 104, 104, 80);
}

html {
    box-sizing: border-box;
    color: var(--dark);
}

body {
    background: #ccc;
    margin: 10px 20px;
    line-height: 1.4;
}

a {
    color: var(--light);
    text-decoration: none;
    box-shadow: var(--shadow);
}

    a:hover {
        color: var(--dark);
        text-decoration: none;
    }

.btn {
    display: block;
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 0rem;
    margin: 0px;
    border-radius: .9rem;
}

.btn-check-in {
    background: var(--check-in);
}

.btn-check-out {
    background: var(--check-out);
}

.btn-maintenance {
    background: var(--maintenance);
}

.btn-article {
    background: var(--article);
}

.btn-product {
    background: var(--product);
}

.btn-customer {
    background: var(--customer);
}

.btn:hover {
    background: var(--light);
    color: var(--dark);
}

.title-side {
    color: var(--title-side);
    font-size: 5rem;
    font-weight: bolder;
}
.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 500px 1fr;
    grid-template-areas: "top top" "side content" ". footer";
}

.box-dotted {
    border-color: black;
    border-style: dotted;
    margin-bottom: 15px;
}

.table {
    height: 20rem;
    overflow-y: scroll;
    background-color: burlywood;
    padding: 0px;
}

.table-row {
    padding: 5px 0px 5px 0px;
}

.my-button {
    text-align: center;
    vertical-align: middle;
    color: darkblue;
    box-sizing: border-box;
    border-style: none;
    float: left;
    height: 2rem;
}

sort-bar div {
    display: flex;
    margin: auto;
}

sort-bar div a {
    color: lightgrey;
    box-shadow: none;
    background-color: darkred;
    margin: 1px;
    padding: 0px 3px;
    border-radius: 25%;
    vertical-align: middle;
}

sort-bar div div {
    font-weight: bold;
}

.color-check-in {
    background-color: var(--check-in);
}

.color-check-out {
    background-color: var(--check-out);
}

.color-maintenance {
    background-color: var(--maintenance);
}

.color-customer {
    background-color: var(--customer);
}

.color-product {
    background-color: var(--product);
}

.color-article {
    background-color: var(--article);
}

top-menu {
    grid-area: top;
}

    top-menu ul {
        display: grid;
        list-style: none;
        grid-template-columns: 2fr repeat(3, 1fr);
        grid-gap: 10px;
        align-items: center;
    }

side-menu {
    grid-area: side;
    background: blanchedalmond;
    border-radius: 2rem;
    padding: 2rem 0.7rem;
    margin: 0px;
}

    side-menu ul {
        display: grid;
        list-style: none;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

content {
    display: grid;
    grid-area: content;
}

footer {
    grid-area: footer;
    text-align: center;
    font-size: 1.4rem;
}

@media(max-width: 1000px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: "top" "content" "side" "footer";
    }

    top-menu ul {
        grid-template-columns: 1fr 1fr;
    }

    side-menu {
        display: none;
    }
}

@media(max-width: 700px) {
    top-menu ul {
        grid-template-columns: 1fr;
    }

    * {
        font-size: 1.2rem;
    }
}
